@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
nav{
  display: flex;
  margin: 0 auto;
  padding: 20;
  max-width: 600px;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  align-items:   center;
}
nav h2{
  color: blueviolet;
}
nav .link{
  margin-top: 20px;

}
.link a{
  padding-left: 10px;
  color: blue;
  text-decoration: none;
}
form{
  margin: 0 auto;
  padding: 20px;
  max-width: 600px;
  text-align: left;
  border-bottom: 1px solid gray;

}
label{
  margin-top: 10px;
}
input,  textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 10px;
  border-radius: 10px;
  border:  2px solid gray;
  margin-top: 10px;
}
.btn-save{
  background:darkslategray;
  padding: 10px 10px;
  color: white;
  border: none;
  border-radius: 8px;
}
button {
  /* General styles */
  background-color: blueviolet;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}
.content{
  max-width:600px;
  margin: 40px auto;
  padding : 20px;
  text-align: left;

}
.preview{
  padding: 10px 20px;
  border-bottom: 1px solid gray;
  margin-bottom: 20px 0;

}
,preview:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.preview h3{
  font-size:15px;
  color:gray;
  margin: 0;
}
.preview a{
  text-decoration: none;
}




